.todo__item--container {
    width: 100%;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;

    &.completed {
        text-decoration: line-through;
        background-color: lightgrey;
        opacity: 0.8;
    }
    
    .todo__item--element {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }
}